@page
@model dataStorageModel
@{
    ViewData["Title"] = "dataStorage test: Order History";
}

<h1>@ViewData["Title"]</h1>
<form method="post">



	<div class="mb-3">
		<h1>
		place your order here:
		</h1>

		<p> customer name:
		<input asp-for="customer" />
		<span asp-validation-for="customer"></span>

		</p>

		<p> burger type:
		<input asp-for="burger" />
		<span asp-validation-for="burger"></span>
		</p>

		<p> sides:
		<input asp-for="sides" />
		<span asp-validation-for="sides"></span>
		</p>

		<p> drink:
		<input asp-for="drink" />
		<span asp-validation-for="drink"></span>
		</p>

	<button type = "submit" class="btn btn-primary" style="width:150px;" asp-page-handler="SubmitOrder">submit order</button>

	</div>

	<div class="mb-3">

		<p>order ID to delete or change:
		<input asp-for="orderID" />
		<span asp-validation-for="orderID"></span>
		</p>


	<button type = "submit" class="btn btn-primary" style="width:150px;" asp-page-handler="DeleteOrder">delete order</button>


	<button type = "submit" class="btn btn-primary" style="width:150px;" asp-page-handler="ClearAll">clear all orders</button>


	<button type = "submit" class="btn btn-primary" style="width:150px;" asp-page-handler="UpdateOrder">update order</button>
	</div>

	<table class ="table">

	<thead class = "thead-dark">
		<th>order ID</th>
		<th>customer</th>
		<th>burger</th>
		<th>sides</th>
		<th>drink</th>
	</thead>

	<tbody>
	@if(Model.orderHistoryDisplay != null){
	@foreach(var order in Model.orderHistoryDisplay)
	{
	<tr>

		<td>@order.Id</td>
		<td>@order.customer</td>
		<td>@order.burger</td>
		<td>@order.sides</td>
		<td>@order.drink</td>

	</tr>
	}
	}


	</tbody>


	</table>




	</div>

</form>

