@page
@model dataStorageModel
@{
    ViewData["Title"] = "dataStorage";
}

@functions {

}

@{
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method = "post">
	    <button type = "submit" class = "btn btn-primary" style="width:150px" asp-page-handler="ClearAll">Clear All</button>
	    <button type = "submit" class = "btn btn-primary" style="width:150px" asp-page-handler="Populate">Populate</button>
    </form>
    <table>
	    <thead>
		    <tr>
			    <th>Id </th>
			    <th>name </th>
			    <th>componentType </th>
			    <th>temperatureC </th>
			    <th>pressurePa </th>
			    <th>massFlowrateKgPerS </th>
		    </tr>

	    </thead>

	    <tbody>
		    @foreach(var component in Model._componentCollection.list){


		    <tr>
			    <td>@component.Id </td>
			    <td>@component.name </td>
			    <td>@component.componentType </td>
			    <td>@component.temperatureC </td>
			    <td>@component.pressurePa </td>
			    <td>@component.massFlowrateKgPerS </td>

		    </tr>

		    }
	    </tbody>
    </table>



</div>


