@page
@model dataStorageModel
@{
    ViewData["Title"] = "dataStorage";
}

@functions {

}

@{
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method = "post">

	    <h1>Add Components here</h1>

	    <p>
	    Enter Component Name here:
	    <input asp-for"name" />
	    <span asp-validation-for="name"></span>
	    </p>

	    <p>
	    Enter Component Type here:
	    <input asp-for"componentType" />
	    <span asp-validation-for="componentType"></span>
	    </p>
	    <p>
	    Enter Component Temperature in Degrees C:
	    <input asp-for"temperatureC" />
	    <span asp-validation-for="temperatureC"></span>
	    </p>
	    <p>
	    Enter Component Pressure in Pa:
	    <input asp-for"pressurePa" />
	    <span asp-validation-for="pressurePa"></span>
	    </p>
	    <p>
	    Enter Component Mass Flowrate in Kg/s
	    <input asp-for"massFlowrateKgPerS" />
	    <span asp-validation-for="massFlowrateKgPerS"></span>
	    </p>

	    <button type = "submit" class = "btn btn-primary" style="width:150px" asp-page-handler="AddComponent">Add Component</button>
	    
	    <button type = "submit" class = "btn btn-primary" style="width:150px" asp-page-handler="ClearAll">Clear All</button>
	    <button type = "submit" class = "btn btn-primary" style="width:150px" asp-page-handler="Populate">Populate</button>
    </form>
    <table>
	    <thead>
		    <tr>
			    <th>Id </th>
			    <th>name </th>
			    <th>componentType </th>
			    <th>temperatureC </th>
			    <th>pressurePa </th>
			    <th>massFlowrateKgPerS </th>
		    </tr>

	    </thead>

	    <tbody>
		    @foreach(var component in Model._componentCollection.list){


		    <tr>
			    <td>@component.Id </td>
			    <td>@component.name </td>
			    <td>@component.componentType </td>
			    <td>@component.temperatureC </td>
			    <td>@component.pressurePa </td>
			    <td>@component.massFlowrateKgPerS </td>

		    </tr>

		    }
	    </tbody>
    </table>



</div>


