@page
@model testPageModel
@using dotnetTest.Models
@{
    ViewData["Title"] = "testPage";

    // for dependency injection, we declare all the objects first

    MockPatty mockPatty = new MockPatty();
    Patty patty = new Patty();
    MockBuns mockBuns = new MockBuns();
    Buns buns = new Buns();
    MockOther mockOther = new MockOther();
    Other other = new Other();
    SuperExpensiveWheat expensiveWheat = new SuperExpensiveWheat();

    // our chicken burger needs to have dependencies injected




}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p> the chicken burger costs: $@ViewData["cost"] </p>

    <form method="post">

    <input type="submit" value = "Generate Random Number" asp-page-handler="RNG"/>

    </form>

    <p>Transient RNG</p>
    <p>@ViewData["transientRNG1"] @ViewData["transientRNG2"]</p>
    <p>Scoped  RNG</p>
    <p>@ViewData["scopedRNG1"] @ViewData["scopedRNG2"]</p>

    <p>Singleton RNG</p>
    <p>@ViewData["singletonRNG1"] @ViewData["singletonRNG2"]</p>
</div>


